<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Encrypted password:</strong>
    <%= user.encrypted_password %>
  </p>

  <p>
    <strong>Reset password token:</strong>
    <%= user.reset_password_token %>
  </p>

  <p>
    <strong>Reset password sent at:</strong>
    <%= user.reset_password_sent_at %>
  </p>

  <p>
    <strong>Remember created at:</strong>
    <%= user.remember_created_at %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= user.updated_at %>
  </p>

  <p>
    <strong>University:</strong>
    <%= user.university %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= user.role %>
  </p>

  <p>
    <strong>Libraries:</strong>
    <%= user.libraries_id %>
  </p>

  <p>
    <strong>Students:</strong>
    <%= user.students_id %>
  </p>

</div>
